body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: white;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .signup-container {
    background: linear-gradient(to right, #eeeff0, #ffffff);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    padding: 2.5rem;
    width: 100%;
    max-width: 450px;
    color: #fff;
  }

  .signup-container h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: bold;
    color: black;
  }

  .form-group {
    margin-bottom: 1.2rem;
  }

  label {
    color: rgb(29, 28, 28);
    display: block;
    margin-bottom: 0.4rem;
    font-weight: 500;
    font-size: 0.95rem;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="date"] {
    width: 100%;
    padding: 0.75rem 1rem;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    outline: none;
    transition: all 0.3s ease;
    background: rgba(107, 107, 107, 0.2);
  }

  input::placeholder {
    color: rgba(109, 108, 108, 0.6);
  }

  input:focus {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.3);
    outline: none;
  }

  .signup-btn {
    width: 100%;
    padding: 0.85rem;
    background: #5c5c5c;
    color: #fdfdfd;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
  }

  .signup-btn:hover {
    background-color: #e6e6e6;
    color: black;
    
  }

  @media (max-width: 480px) {
    .signup-container {
      padding: 2rem 1.5rem;
    }
  }